In [1]:
%%time

import pandas as pd
df = pd.read_csv('ratings.csv', encoding='utf-8')

def differenсe(data):
    if len(data) >= 100: 
        return data.timestamp.max() - data.timestamp.min()
    
new = df.groupby('userId').apply(differenсe).reset_index()
new.loc[~pd.isnull(new[0]), :].rename(columns={0 : 'difference'})

Wall time: 1.12 s

     userId   difference
3         4     203560.0
4         5       2101.0
7         8      85187.0
14       15  471393496.0
16       17       8053.0
..      ...          ...
655     656       3053.0
658     659   31609411.0
663     664   98180439.0
664     665   54131471.0
670     671   11283984.0

[263 rows x 2 columns]