# Задание 1

In [1]:
import pandas as pd

names = ['операция', 'возраст', 'номер', 'рект_температура', 'пульс', 'частота дыхания', 'темпер конечностей', 'переферийн пульс',
         'слизистые оболочки', 'время наполнен каппиляр', 'боль', 'перистальтика', 'вздутие живота',
         'назогастральный зонд ', 'назогастральный reflux', 'назогастральный reflux PH', 'ректальное исследование', 'живот',
         'объем упакованной ячейки ', 'общий белок ', 'внешний вид брюшной полости ', 'общий белок брюшной полости ',
         'исход', 'хирургическое поражение ', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data']

df = pd.read_csv('horse_data.csv', names=names, na_values='?', encoding="utf-8")

In [2]:
(df.isna().mean()*100).round(2)

операция                         0.33
возраст                          0.00
номер                            0.00
рект_температура                20.00
пульс                            8.00
частота дыхания                 19.33
темпер конечностей              18.67
переферийн пульс                23.00
слизистые оболочки              15.67
время наполнен каппиляр         10.67
боль                            18.33
перистальтика                   14.67
вздутие живота                  18.67
назогастральный зонд            34.67
назогастральный reflux          35.33
назогастральный reflux PH       82.33
ректальное исследование         34.00
живот                           39.33
объем упакованной ячейки         9.67
общий белок                     11.00
внешний вид брюшной полости     55.00
общий белок брюшной полости     66.00
исход                            0.33
хирургическое поражение          0.00
type of lesion1                  0.00
type of lesion2                  0.00
type of lesion3                  0.00
cp_data                          0.00
dtype: float64

In [3]:
df = df[['операция', "возраст", 'рект_температура', 'пульс', "темпер конечностей", 'перистальтика', 'вздутие живота', 'исход']]
df

,операция,возраст,рект_температура,пульс,темпер конечностей,перистальтика,вздутие живота,исход
0,2.0,1,38.5,66.0,3.0,4.0,4.0,2.0
1,1.0,1,39.2,88.0,NaN,4.0,2.0,3.0
2,2.0,1,38.3,40.0,1.0,3.0,1.0,1.0
3,1.0,9,39.1,164.0,4.0,4.0,4.0,2.0
4,2.0,1,37.3,104.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,4.0,4.0,NaN,3.0
296,2.0,1,37.2,72.0,3.0,3.0,3.0,3.0
297,1.0,1,37.5,72.0,4.0,4.0,3.0,2.0
298,1.0,1,36.5,100.0,3.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,NaN,NaN,NaN,3.0

In [4]:
df[['операция', "возраст", "темпер конечностей", 'перистальтика', 'вздутие живота', 'исход']].mode()

   операция  возраст  темпер конечностей  перистальтика  вздутие живота  исход
0       1.0        1                 3.0            3.0             1.0    1.0

In [5]:
df[['рект_температура', 'пульс']].describe().round(2)

       рект_температура   пульс
count            240.00  276.00
mean              38.17   71.91
std                0.73   28.63
min               35.40   30.00
25%               37.80   48.00
50%               38.20   64.00
75%               38.50   88.00
max               40.80  184.00

# Задание 2

In [6]:
# Функция для определения выбросов, которая возвращает список с df без выбросов и df самих выбросов
def find_outliers(col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    IQR

    l_outlier = Q1 - (1.5*IQR)
    h_outlier = Q3 + (1.5*IQR)

    df_without_outlier = df[df[col].between(l_outlier, h_outlier, inclusive=True)]
    df_outlier = pd.concat([df, df_without_outlier]).drop_duplicates(keep=False)
    return [df_without_outlier, df_outlier]

In [7]:
# Рект_температура

rekt_outlier = find_outliers('рект_температура')[1]
rekt_outlier['рект_температура']

# В выбросы попали значения Nan и температура, которая на мой взгляд вполне могла быть, с ними ничего не делаем

5       NaN
7       NaN
8       NaN
16      NaN
20     39.9
35      NaN
40      NaN
43      NaN
44     35.4
45      NaN
52      NaN
54     40.3
57      NaN
58      NaN
65      NaN
68      NaN
74      NaN
75     39.7
80     36.4
86      NaN
87      NaN
91     40.3
93      NaN
96      NaN
99     39.6
101     NaN
105     NaN
112     NaN
115     NaN
118    36.5
134     NaN
141    36.0
142     NaN
145     NaN
159     NaN
167     NaN
169     NaN
173     NaN
174     NaN
177     NaN
178     NaN
191     NaN
193     NaN
216     NaN
219     NaN
222     NaN
227     NaN
238    36.1
242     NaN
251    36.6
253     NaN
254     NaN
259    40.8
265     NaN
274     NaN
281    40.0
293     NaN
295     NaN
298    36.5
Name: рект_температура, dtype: float64

In [8]:
# Пульс

pulse_outlier = find_outliers('пульс')[1]
pulse_outlier['пульс']

# Такой пульс может быть в редких исключениях, не убираем

3      164.0
5        NaN
41     150.0
52       NaN
55     160.0
58       NaN
74       NaN
93       NaN
115      NaN
117      NaN
126      NaN
151      NaN
159      NaN
174      NaN
204      NaN
216      NaN
227      NaN
255    184.0
275    150.0
Name: пульс, dtype: float64

In [9]:
# В столбце Операция выбросов нет
df['операция'].value_counts()

1.0    180
2.0    119
Name: операция, dtype: int64

In [10]:
# В столбце возраст должны быть два значения 1 или 2, предполагаю, что 9 была указана по случайности и имеет значение 2.
# Заменим значения 9 на 2

df.loc[(df['возраст'] == 9), 'возраст'] = 2
df['возраст'].value_counts()

1    276
2     24
Name: возраст, dtype: int64

In [11]:
# Во всех следующих столбцах значения соответствуют описанию
df['темпер конечностей'].value_counts()

3.0    109
1.0     78
2.0     30
4.0     27
Name: темпер конечностей, dtype: int64

In [12]:
df['перистальтика'].value_counts()

3.0    128
4.0     73
1.0     39
2.0     16
Name: перистальтика, dtype: int64

In [13]:
df['вздутие живота'].value_counts()

1.0    76
2.0    65
3.0    65
4.0    38
Name: вздутие живота, dtype: int64

In [14]:
df['исход'].value_counts()

1.0    178
2.0     77
3.0     44
Name: исход, dtype: int64

# Задание 3

In [15]:
(df.isna().mean()*100).round(2)

операция               0.33
возраст                0.00
рект_температура      20.00
пульс                  8.00
темпер конечностей    18.67
перистальтика         14.67
вздутие живота        18.67
исход                  0.33
dtype: float64

In [16]:
# В столбцах "рект_температура" и "темпер конечностей" скорее всего есть связь в ту и другую сторону

# Заполняем столбец "Рект_температура"
df['рект_температура'].fillna(df.groupby('темпер конечностей')['рект_температура'].transform('median'), inplace=True)

In [17]:
# Заполняем столбец "Темпер конечностей"
q1 = df['темпер конечностей'].quantile(0.25)
q2 = df['темпер конечностей'].quantile()
q3 = df['темпер конечностей'].quantile(0.75)

# По условию "Горячие конечности должны коррелировать с повышенной ректальной температурой.",
# под горячие/теплые попадает значение 2

def complete_temper(param, q1, q2, q3):
    if param <=q1:
        return 4
    elif q1 < param <= q2:
        return 3
    elif q2 < param <= q3:
        return 1
    else:
        return 2

df['ранжировка рект_температуры'] = df['рект_температура'].apply(complete_temper, q1=q1, q2=q2, q3=q3)

In [18]:
df["темпер конечностей"].fillna(df['ранжировка рект_температуры'], inplace = True)
df.drop(['ранжировка рект_температуры'], axis=1, inplace=True)

In [19]:
# Дозаполняем "рект_температура" с помощью медианы, так как есть небольшие выбросы, о которых упоминалось в Задании 2

df['рект_температура'].fillna(df['рект_температура'].median(), inplace = True)

In [20]:
# Пульс

print(df['пульс'].describe())
# СКО не велико, поэтому заменим пропуски средним значением
df['пульс'].fillna(df['пульс'].mean(), inplace = True)

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: пульс, dtype: float64

In [21]:
# Заполняем Перистельтику и вздутие живота, данные значений коррелируют

# ?? Как посчитать Моду через Трансформ, есть ли другие способы групировки и определения моды по группам?
# Медиана не подходит, но моду не поставить из списка

df['перистальтика'].fillna(df.groupby(['вздутие живота'])['перистальтика'].transform('median'), inplace=True)

df['вздутие живота'].fillna(df.groupby(['перистальтика'])['вздутие живота'].transform('median'), inplace=True)

In [22]:
# После того, как мы заполнили все возможные значения столбцов 'перистальтика' и 'вздутие живота' с помощью их связи,
# мы заполним оставшиеся значения этих столбцов их модами.

df['перистальтика'].fillna(df['перистальтика'].mode()[0], inplace=True)
df['вздутие живота'].fillna(df['вздутие живота'].mode()[0], inplace=True)

In [23]:
# Не совсем понял наличие пропусков в столбцах "Операция" и "Исход"
print(len(df))
print(df['операция'].value_counts())
print(df['исход'].value_counts())

300
1.0    180
2.0    119
Name: операция, dtype: int64
1.0    178
2.0     77
3.0     44
Name: исход, dtype: int64

In [24]:
(df.isna().mean()*100).round(2)

операция              0.33
возраст               0.00
рект_температура      0.00
пульс                 0.00
темпер конечностей    0.00
перистальтика         0.00
вздутие живота        0.00
исход                 0.33
dtype: float64