In [7]:
import pandas as pd
df = pd.read_csv("keywords.csv", encoding="utf-8")

geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

def get_region(param, dict_):
    for key, value in dict_.items():
        if param in value:
            return key
    return 'undefined'

df['region'] = df.keyword.apply(get_region, dict_= geo_data)
df.sort_values('region')

                                 keyword     shows        region
0                                     вк  64292779     undefined
66671  электронная очередь в детский сад      5303     undefined
66670               мюзикл анна каренина     12326     undefined
66669                      паукообразные      5280     undefined
66668                  плинтус напольный      5632     undefined
...                                  ...       ...           ...
11222                              псков     24885  Северо-Запад
20823                          петербург     14859  Северо-Запад
1259                              москва    153050         Центр
6075                           ярославль     41720         Центр
11785                               тула     23898         Центр

[100000 rows x 3 columns]