In [67]:
import pandas as pd

df = pd.read_csv("ratings.csv", encoding="utf-8")

def class_movie(param):
    if param <=2:
        return "низкий рейтинг"
    elif param <= 4:
        return "средний рейтинг"
    elif 4.5 <= param <=5:
        return "высокий рейтинг"
    
df['class'] = df.rating.apply(class_movie)
df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Вариант номер 2

In [10]:
import pandas as pd

data1 = pd.read_csv("movies.csv", encoding="utf-8")

# Получаем DataFrame таблицы с рейтингом, группируем по Id фильма и находим среднее значение рейтинга.
data2 = pd.read_csv("ratings.csv", encoding="utf-8").groupby('movieId').agg('mean').rating.reset_index()

# После этого группируем два DataFrame методом merge, выбирая нужные столбцы
all_data = pd.merge(data1[['movieId', 'title']], data2, on=('movieId'))

def class_movie(row):
    if row['rating'] <=2:
        return "низкий рейтинг"
    elif row['rating'] <= 4:
        return "средний рейтинг"
    elif 4.5 <= row['rating'] <=5:
        return "высокий рейтинг"

# Затем, добавляем в сгруппированный Df новый столбец с указанием рейтинга
all_data['class'] = all_data.apply(class_movie, axis=1)
all_data

,movieId,title,rating,class
0,1,Toy Story (1995),3.872470,средний рейтинг
1,2,Jumanji (1995),3.401869,средний рейтинг
2,3,Grumpier Old Men (1995),3.161017,средний рейтинг
3,4,Waiting to Exhale (1995),2.384615,средний рейтинг
4,5,Father of the Bride Part II (1995),3.267857,средний рейтинг
...,...,...,...,...
9061,161944,The Last Brickmaker in America (2001),5.000000,высокий рейтинг
9062,162376,Stranger Things,4.500000,высокий рейтинг
9063,162542,Rustom (2016),5.000000,высокий рейтинг
9064,162672,Mohenjo Daro (2016),3.000000,средний рейтинг
9065,163949,The Beatles: Eight Days a Week - The Touring Y...,5.000000,высокий рейтинг